<<<<<<< HEAD
=======
<div class="container">
    <header class="d-flex justify-content-center py-3"><!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
		
    </header>
  </div>
>>>>>>> 7f6f2db91b6f8336d6e8b292097053bc9e905bff
<div>
	<h1>
		박스오피스
	</h1>
	<ul>
		<% @movies.each do |movie| %>
			<li>
				<a href="#">
					영화상세정보로 이동
					<% if movie.movie_img.attached? %>
						<img src="<%= url_for(movie.movie_img) %>" alt="영화 포스터">
					<% end %>
					<h1>
						<%= movie.movie_title %>
					</h1>
					<p>
						<%= movie.movie_desc %>
					</p>
					<button>
						<a href="#">예매</a>
					</button>
				</a>
			</li>
		<% end %>	
	</ul>
	
	<p>
		영화설명
	</p>
	
	
</div>
