<h3 class="title" style="text-align: center; border-bottom: 1px solid #666;">
		박스오피스
</h3>
<div class="container">
		<div class="row" style="color: #fff;">
			<% @movies.each do |movie| %>
					<div class="col-3">
						<a href="/megabox/show/<%= movie.id %>">
						<div class="card text-bg-dark">
						  <img src="<%= url_for(movie.movie_img) %>" class="card-img" alt="...">
						  <div class="card-img-overlay" style="height:220px;">
							<h5 class="card-title"><%= movie.movie_title %></h5>
							<p class="card-text" style="  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break:break-all;
  width: 100px; height: 50px;"><%= movie.movie_desc %></p>
							<p class="card-text"><small>Last updated 3 mins ago</small></p>
						  </div>
						</div>
						</a>
						<button>
							<a href="/megabox/ticket_order">예매</a>
						</button>	
					</div>
			<% end %>	
		</div>
	</div>	
