<div>
	<h1>
		<%= @movie.movie_title %>
	</h1>
	<img src="<%= url_for(@movie.movie_img) %>">
	<button>
		<a href="#">
			예매
		</a>
	</button>
</div>

<article>
	<h1>
		영화 정보
	</h1>
	<p>
		<%= @movie.movie_desc %>
	</p>
</article>