
<h3>
	관람 인원 선택
</h3>

<div class="container">
	<div class="row">
		<div class="col-9">
			<form action="" method="GET">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<label for="account">성인</label>
				<input type="number" name="quantity" value="0" min="0" id="account">
				<label for="account">청소년</label>
				<input type="number" name="quantity" value="0" min="0">
				<label for="account">우대</label>
				<input type="number" name="quantity" value="0" min="0">


				<button type="submit" class="btn btn-outline-dark">
					다음
				</button>
			</form>
		</div>
		<div class="col-3">
			<%= @movie_title %>
			포스터
			최종결제금액
		</div>
	</div>
</div>
