<% if @movie.movie_img.attached? %>
	<img src="<%= url_for(@movie.movie_img) %>">
<% else %>
	이미지 없음
<% end %>
<h2>
	<%= @movie.movie_title %>
</h2>

<h3>
	관람 인원 선택
</h3>

<form action="" method="">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<h3>
		성인
	</h3>
	<input type="number" name="quantity" value="1" min="1">
	<h3>
		청소년
	</h3>
	<input type="number" name="quantity" value="1" min="1">
	<h3>
		우대
	</h3>
	<input type="number" name="quantity" value="1" min="1">
	
	<button type="submit">
		다음
	</button>
	
</form>