<h1>
	빠른 예매
</h1>
<div>
	<button>이전 날짜</button>
	<div>
		<button>1</button>
		<button>2</button>
		<button>3</button>
		<button>4</button>
		<button>5</button>
		<button>6</button>
		<button>7</button>
		<button>8</button>
		<button>9</button>
		<button>10</button>
		<button>11</button>
		<button>12</button>
		<button>13</button>
		<button>14</button>
	</div>
	<button>다음 날짜</button>
	<button>달력</button>
</div>
<div>
	<p>영화</p>
	<button>영화</button>
	<ul>
		<li>영화1</li>
		<li>영화2</li>
		<li>영화3</li>
	</ul>
	<button>큐레이션</button>
	<ul>
		<li>같은 속옷을 입는 두 여자</li>
		<li>영화2</li>
		<li>영화3</li>
	</ul>
</div>
<div>
	<p>극장</p>
	<button>전체</button>
	<ul>
		<li><button>서울</button></li>
		<ul>
			<li>강남</li>
			<li>신촌</li>
			<li>강북</li>
		</ul>
		<li><button>부산</button></li>
		<ul>
			<li>서면</li>
			<li>해운대</li>
			<li>하단</li>
			<li>광안리</li>
		</ul>
		<li><button>창원</button></li>
		<ul>
			<li>상남</li>
			<li>사림</li>
		</ul>
	</ul>
	<button>특별관</button>
	<ul>
		<li><button>특별관지역1</button></li>
		<ul>
			<li>특별관1</li>
			<li>특별관2</li>
		</ul>
		<li><button>특별관지역2</button></li>
		<ul>
			<li>특별관3</li>
			<li>특별관4</li>
		</ul>
	</ul>
</div>
<div>
	<p>시간</p>
	<p>조조    브런치	심야</p>
	<div>
		<button>뒤로가기</button>
		<div>
			<button>00</button>
			<button>01</button>
			<button>02</button>
			<button>03</button>
			<button>04</button>
			<button>05</button>
			<button>06</button>
			<button>07</button>
			<button>08</button>
			<button>09</button>
		</div>
		<button>앞으로 가기</button>
		<div>
			<p>
				영화와 극장을 선택하시면 <br>상영시간표를 비교하여 볼 수 있습니다.
			</p>
		</div>
	</div>
	
</div>