// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.movie-bg {
}

.wrap {
	position: relative;
}

.ticketing {
	width:45%;
	position: absolute;
	bottom: 0;
	right: 10px;
}

.em {
	font-size: 2.5em;
}