// Place all the styles related to the screens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  box-sizing: border-box;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.cont {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  width:500px;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #666;
  height: 70px;
  width: 240px;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

// 시간
.time_title {
	display: flex;
	justify-content: space-between;
}
.time_title > h2{
	width:100px;
}

.wrap {
	border: 1px solid #666;
}

.seat_shape {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;	
}

.seat_shape:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.hide {
	display: none;
}

.hide1 {
	display: none;
}

.th_list1 {
	position: absolute;
	top: 0;
}